* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(60deg, rgb(53, 122, 252), rgb(0, 0, 139));
  min-height: 100vh;
}

header {
  background: linear-gradient(60deg, rgb(53, 122, 252), rgb(0, 0, 122));
  display: flex;
  justify-content: space-between;
  padding: 25px;

}

.topo-esquerdo img {
  padding: 10px 10px 10px 15px;
  width: 120px;
}

.topo-direito ul {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  list-style: none;
}

.topo-direito li {
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  padding: 5px 45px;
}

.topo-direito Link  {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

.btn-header {
  background-color: rgb(250, 116, 172);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  color: aliceblue;
  width: 100px;
}

.btn-header:hover {
  transition: 0.2ms ease;
  background-color: rgb(255, 79, 196);
  transform: scale(1.05);
}

.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1700px;
  margin: auto 0;
  justify-content: center;
  margin-top: 130px;
  align-items: center;
  color: aliceblue;
}

.principal {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
}

.hero-text {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: aliceblue;
}



.hero-text h2 {
  font-size: 45px;
}

.btn-central button {
  width: 250px;
  height: 50px;
  background-color: rgb(250, 116, 172);
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  color: aliceblue;
}

.btn-central button:hover {
  transition: 0.2ms ease;
  background-color: rgb(255, 79, 196);
  transform: scale(1.05);
}

.imagens {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 100px;
}

.imagens img {
  width: 100px;
}

.imagens h3 {
  font-size: 30px;
}

.textos-pequenos {
  display: flex;
  justify-content: space-between;
  gap: 105px;
  margin-top: 10px;
}

.footer {
  background-color: #0b0e2e;
  color: white;
  padding: 50px 20px 20px;
  font-family: Arial, sans-serif;
  margin-top: 100px;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  max-width: 300px;
}

.footer-logo img {
  max-width: 100px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-logo h2 {
  color: #001dbf;
  margin-bottom: 10px;
}

.footer-contato h3,
.footer-endereco h3 {
  margin-bottom: 10px;
  color: #0033bf;
}

.footer-contato p,
.footer-endereco p {
  margin: 5px 0;
}



.cointainer-notfound {
  width: 70vw;
  margin:auto;
}

.flex-notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.face{
  width: 300px;
  height: auto;
}